pandas==2.3.0
streamlit==1.48.0
matplotlib==3.10.5
seaborn==0.13.2
pillow==11.3.0
numpy==1.26.4
scikit-learn==1.6.1
feature-engine==1.8.3
shap==0.48.0
scipy==1.14.1
joblib==1.4.2
xgboost==3.0.4
plotly==5.24.1
